# Лабораторная работа №2 (Подготовка данных в Pandas. Часть 2)

### 1. Создать новую переменную Total_count, в которую записать общее количество арендованных велосипедов за каждый час.

In [144]:
import datetime
import pandas as pd

df = pd.read_csv("BikeData.csv")
df['Total_count'] = df['Partner 1'] + df['Partner 2']
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Total_count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401,843

### 2. Удалить ряды Partner 1 и Partner 2

In [145]:
df = df.drop(columns=['Partner 1', 'Partner 2'])
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

### 3. Преобразовать Date к стандартной форме

In [146]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y', errors='coerce')
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

### 4. Определить сколько велосипедов было выдано в день выполнения задания, определить день недели

In [147]:
today = datetime.datetime.today()
filtered_df = df[(df['Date'].dt.day == today.day) & (df['Date'].dt.month == today.month)]
display(filtered_df)
total_bikes_rented = filtered_df['Total_count'].sum()
day_of_week = filtered_df['Date'].iloc[0].strftime('%A')
print(f"Всего велосипедов продано: {total_bikes_rented}")
print(f"День недели: {day_of_week}")

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
8208,2018-11-08,0,12.9,70,1.8,0.0,0.0,Autumn,No Holiday,Yes,375
8209,2018-11-08,1,11.9,77,1.1,0.0,0.0,Autumn,No Holiday,Yes,123
8210,2018-11-08,2,11.8,84,1.6,0.0,0.0,Autumn,No Holiday,Yes,198
8211,2018-11-08,3,11.8,86,1.6,0.5,0.0,Autumn,No Holiday,Yes,37
8212,2018-11-08,4,10.8,87,1.7,0.0,0.0,Autumn,No Holiday,Yes,25
8213,2018-11-08,5,10.8,89,1.6,0.0,0.0,Autumn,No Holiday,Yes,57
8214,2018-11-08,6,10.6,90,1.6,1.5,0.0,Autumn,No Holiday,Yes,92
8215,2018-11-08,7,10.9,88,1.8,0.0,0.0,Autumn,No Holiday,Yes,127
8216,2018-11-08,8,10.6,89,1.5,0.0,0.0,Autumn,No Holiday,Yes,220
8217,2018-11-08,9,NaN,94,2.1,2.0,0.0,Autumn,No Holiday,Yes,94
8218,2018-11-08,10,10.8,94,1.8,0.0,0.0,Autumn,No Holiday,Yes,32
8219,2018-11-08,11,10.9,95,2.4,0.0,0.0,Autumn,No Holiday,Yes,31
8220,2018-11-08,12,11.4,95,2.5,5.5,0.0,Autumn,No Holiday,Yes,23
8221,2018-11-08,13,11.5,95,2.1,0.0,0.0,Autumn,No Holiday,Yes,25
8222,2018-11-08,14,11.3,96,2.7,0.0,0.0,Autumn,No Holiday,Yes,21
8223,2018-11-08,15,11.4,96,2.0,9.5,0.0,Autumn,No Holiday,Yes,75
8224,2018-11-08,16,11.7,96,1.4,0.0,0.0,Autumn,No Holiday,Yes,26
8225,2018-11-08,17,11.9,97,0.7,0.0,0.0,Autumn,No Holiday,Yes,48
8226,2018-11-08,18,12.9,97,0.0,9.0,0.0,Autumn,No Holiday,Yes,36
8227,2018-11-08,19,12.8,97,0.9,0.0,0.0,Autumn,No Holiday,Yes,13
8228,2018-11-08,20,13.9,97,2.5,0.0,0.0,Autumn,No Holiday,Yes,9
8229,2018-11-08,21,14.0,96,4.1,18.0,0.0,Autumn,No Holiday,Yes,35
8230,2018-11-08,22,12.4,96,2.7,0.0,0.0,Autumn,No Holiday,Yes,22
8231,2018-11-08,23,11.5,96,3.0,0.0,0.0,Autumn,No Holiday,Yes,24

Всего велосипедов продано: 1768
День недели: Thursday

### 5. Перекодировка Functioning Day в boolean

In [148]:
df['Functioning Day'] = df['Functioning Day'].map({'Yes': True, 'No': False})
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,True,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,True,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,True,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,True,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,True,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,True,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,True,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,True,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,True,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,True,843

#### 5.1. Подсчет нерабочих дней

In [149]:
daily_hours = df.groupby(df['Date'].dt.date)['Functioning Day'].sum()
# print(daily_hours[daily_hours < 12])
non_working_days = (daily_hours < 12).sum()
print(f"Число нерабочих дней: {non_working_days}")

Число нерабочих дней: 12

### 6. Перекодировка Holiday в 0 и 1

In [150]:
df['Holiday'] = df['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0)
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,0,True,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,0,True,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,0,True,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,0,True,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,0,True,843

### 7. Ввод новой категориальной переменной Temperature category

In [151]:
def temp_category(temp):
    if pd.isna(temp): 
        return 'Unknown'
    elif temp < 0: 
        return 'Freezing'
    elif temp < 15: 
        return 'Chilly'
    elif temp < 26: 
        return 'Nice'
    else: 
        return 'Hot'

df['Temperature category'] = df['Temperature'].apply(temp_category)
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count,Temperature category
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,Freezing
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,Freezing
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,Freezing
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148,Freezing
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97,Freezing
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,0,True,644,Chilly
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,0,True,359,Chilly
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,0,True,1236,Chilly
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,0,True,628,Chilly
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,0,True,843,Chilly

### 8. Создать новую переменную Good weather

In [152]:
df['Good weather'] = ((df['Temperature category'] == 'Nice') & 
                      (df['Humidity'] >= 40) & (df['Humidity'] <= 60) &
                      (df['Wind speed'] < 5.4) &
                      (df['Rainfall'] == 0) &
                      (df['Snowfall'] == 0)
                      ).astype(int)
display(df[df['Good weather'] == 1])
good_weather_pct = df['Good weather'].mean() * 100
print(f"Процент дней с хорошей погодой: {good_weather_pct:.2f}%")

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count,Temperature category,Good weather
2460,2018-03-13,12,15.5,47,3.3,0.0,0.0,Spring,0,True,580,Nice,1
2461,2018-03-13,13,17.1,42,3.2,0.0,0.0,Spring,0,True,470,Nice,1
2462,2018-03-13,14,18.3,43,2.2,0.0,0.0,Spring,0,True,741,Nice,1
2463,2018-03-13,15,18.6,47,3.3,0.0,0.0,Spring,0,True,950,Nice,1
2464,2018-03-13,16,17.6,53,3.7,0.0,0.0,Spring,0,True,797,Nice,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8246,2018-11-09,14,15.0,49,2.8,0.0,0.0,Autumn,0,False,0,Nice,1
8247,2018-11-09,15,15.1,52,3.4,0.0,0.0,Autumn,0,False,0,Nice,1
8268,2018-11-10,12,15.1,54,2.2,0.0,0.0,Autumn,0,True,1048,Nice,1
8269,2018-11-10,13,15.9,48,2.7,0.0,0.0,Autumn,0,True,916,Nice,1
8365,2018-11-14,13,15.7,41,2.3,0.0,0.0,Autumn,0,True,951,Nice,1

Процент дней с хорошей погодой: 9.27%

### 9. Сгруппировать данные по сезонам (Seasons), внутри сезона по категории погоды (Temperature category) и вывести для полученной группировки количество арендованных велосипедов.

#### 9.1. Группировка через group by

In [153]:
grouped_data = df.groupby(['Seasons', 'Temperature category'])['Total_count'].sum().reset_index()
grouped_data = grouped_data.sort_values('Total_count', ascending=False)

print("Группировка через groupby:")
display(grouped_data)

Группировка через groupby:

   Seasons Temperature category  Total_count
10  Summer                  Hot      1315525
8   Spring                 Nice       928572
11  Summer                 Nice       892664
3   Autumn                 Nice       811498
0   Autumn               Chilly       775694
5   Spring               Chilly       587211
14  Winter             Freezing       258570
13  Winter               Chilly       215221
2   Autumn                  Hot       134156
7   Spring                  Hot        52993
4   Autumn              Unknown        36518
9   Spring              Unknown        33798
12  Summer              Unknown        31737
1   Autumn             Freezing        12035
15  Winter              Unknown         9536
6   Spring             Freezing         6331

#### 9.2. Групировка через сводную таблицу

In [154]:
pivot = df.pivot_table(index='Seasons', columns='Temperature category', values='Total_count', aggfunc='sum')
display(pivot)

Temperature category    Chilly  Freezing        Hot      Nice  Unknown
Seasons
Autumn                775694.0   12035.0   134156.0  811498.0  36518.0
Spring                587211.0    6331.0    52993.0  928572.0  33798.0
Summer                     NaN       NaN  1315525.0  892664.0  31737.0
Winter                215221.0  258570.0        NaN       NaN   9536.0

### 10. Определить сезон и температуру при которых выдается наибольшее и наименьшее количество велосипедов

In [155]:
max_rentals = grouped_data.loc[grouped_data['Total_count'].idxmax()]
min_rentals = grouped_data.loc[grouped_data['Total_count'].idxmin()]

print("\n10) Экстремальные значения аренды:")
extreme_rentals = pd.DataFrame({
    'Тип': ['Максимальная', 'Минимальная'],
    'Сезон': [max_rentals['Seasons'], min_rentals['Seasons']],
    'Температура': [max_rentals['Temperature category'], min_rentals['Temperature category']],
    'Количество велосипедов': [max_rentals['Total_count'], min_rentals['Total_count']]
})
display(extreme_rentals)

10) Экстремальные значения аренды:

            Тип   Сезон Температура  Количество велосипедов
0  Максимальная  Summer         Hot                 1315525
1   Минимальная  Spring    Freezing                    6331